<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>call api : http://128.199.90.119:8080/wuttinan/greeting  or  http://128.199.90.119:8080/wuttinan/greeting?name=User</display-name>

    <!-- <listener> <listener-class> org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap 
        </listener-class> </listener> -->
    

    

</web-app>